.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  overflow-y: visible; /* Helpful for select dropdowns */
}
